* {
	margin: 0;
	padding: 0;
	font-size: 0.24rem;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
}
.back {
	width: 7.5rem;
	height: 13.34rem;
	background-color: #fff;
	/*background-size: 7.5rem 13.34rem;*/
}
.top {
	width: 7.5rem;
	height: 0.2rem;
	background-color: #E2E2E2;
}
.top div {
	width: 3.76rem;
	height: 0.2rem;
	background-color: #FB4D49;
}
.break {
	width: 1.5rem;
	height: 0.8rem;
	margin: 0.6rem 0 0.3rem 0; 
}
.break img {
	width: 0.21rem;
	height: 0.4rem;
	margin: 0.2rem;
	float: left;
}
.break a {
	font-size: 0.34rem;
	line-height: 0.8rem;
	color: #797878;
	text-decoration: none;
	float: left;
}
.main {
	width: 6.14rem;
	height: 3.8rem;
	margin: auto;
	/*background-color: red;*/
}
.main h6 {
	font-size: 0.6rem;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}
.main div a {
	font-size: 0.26rem;
	color: #fa544a;
	text-decoration: none;
}
.main div p {
	font-size: 0.26rem;
	color: #797878;
	text-decoration: none;
	display: inline-block;
	margin: 0;
}
.main_c {
	width: 6.14rem;
	height: 1rem;
	border-bottom: solid 1px #977F7C;
}
.main .main_c p {
	font-size: 0.34rem;
	display: inline-block;
	color: #797878;
}
.main_c input {
	width: 3.4rem;
	height: 1rem;
	font-size: 0.34rem;
	background: none;
	border: 0;
}
.main_c img {
	width: 0.15rem;
	height: 0.3rem;
	/*background: rgba(0,0,0,0.5);*/
}

.bottom {
	width: 6.14rem;
	height: 0.87rem;
	background-image: url(../img/dl/an.png);
	background-size: 6.14rem 0.87rem;
	line-height: 0.87rem;
	text-align: center;
	margin: auto;

}
.bottom a {
	/*padding: 0.1rem 2.2rem;*/
	text-decoration: none;
	color: #fff;
	font-size: 0.4rem;
}
.bottom_b {
	padding: 0.1rem 2.2rem;
}